body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button {
  margin: 2px;
  background-color: blue;
  padding: 8px;
  border-radius: 8px;
  color: #ffff;
}
input {
  padding: 8px;
  border-radius: 8px;
  
  
}
input:active {
  color: red;
  border-color: yellow;
}
input:focus {
  background-color: yellowgreen;
}
input::placeholder {
  font-size: 15px;
}